.header {
  padding: 0.4rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}

.score {
  font-size: 2rem;
  color: #343434;
  font-weight: 400;
}

.section {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .section {
    flex-direction: column;
  }
}
