.logo {
  height: 30px;
  width: 100%;
}
.connects .logo {
  height: 20px;
}
.connects {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.connect {
  width: 100%;
  display: flex;
  color: white;
  cursor: pointer;
  margin: 0.5rem 0;
  font-weight: 500;
  max-width: 300px;
  font-size: 0.9rem;
  letter-spacing: 0.7px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
}
.connect .logo {
  width: 25px;
  height: 25px;
  margin-right: 0.6rem;
}
.navbar {
  display: flex;
  padding: 20px;
  background: #0e0b40;
  justify-content: space-between;
}
