.logo {
  height: 50px;
  width: 100%;
}
.connects {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.connect {
  display: flex;
  color: black;
  cursor: pointer;

  background-color: #f4f4f5;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  font-size: 0.9rem;
  letter-spacing: 0.7px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.connect .logo {
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  .connect .logo {
    filter: invert(100%);
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    position: absolute;
    top: 0;
  }
}

.navbar {
  display: flex;
  width: calc(100% - 4rem);
  margin-top: 1rem;
  padding: 0 2rem;
  background-color: transparent;
  justify-content: space-between;
}
