* {
  margin: 0;
  padding: 0;
  font-family: "DMSans", sans-serif !important;
}
:root {
  --primary: #191919;

  --success: #72ddf7;
  --failed: #f7aef8;
  --error: #f79898;
  --unchecked: #8093f1;
}

main {
  max-width: 74rem;
  margin: auto;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
