.section {
  margin: 0.25rem auto;
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .section {
    flex-direction: column;
  }
}
/* 
.horizontalTabs {
  display: none;
}

@media screen and (max-width: 600px) {
  .horizontalTabs {
    display: flex;
  }
} */
